{% extends "base.html" %}

{% block title %} Hakkımızda {% endblock %}
{% block page_description %} Bu sayfa hakkımızda sayfası {% endblock %}
{% block page_keywords %} hakkımızda, firma bilgileri, {% endblock %}


{% block content %}
    

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <h2>Hakkımızda Sayfasıdır</h2>
            <p>
                Hakkımızda Sayfası Sayfa İçeriği
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
            </p>
            <p>
                Hakkımızda Sayfası Sayfa İçeriği
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
            </p>
            <p>
                Hakkımızda Sayfası Sayfa İçeriği
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
            </p>
            <p>
                Hakkımızda Sayfası Sayfa İçeriği
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
            </p>
            <p>
                Hakkımızda Sayfası Sayfa İçeriği
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sequi sint eveniet reiciendis. 
                In cum doloremque nihil non, quidem culpa a laboriosam. 
                Error, amet illum. Asperiores.
            </p>
            <a href="#" class="btn btn-primary">Dahası</a>
        </div>
    </div>

{% endblock content %}