{% extends "base.html" %}

{% block title %} Hakkımızda {% endblock %}
{% block page_description %} Bu sayfa hakkımızda sayfası {% endblock %}
{% block page_keywords %} hakkımızda, firma bilgileri, {% endblock %}


{% block content %}


<!-- Bloglar -->
<div class="row mt-4 mb-5">
    <!-- Başlık Bölümü -->
    <div class="row">
        <div class="col-md-12">
            <h2>Bloglar</h2>
        </div>
    </div>
    <!-- Orta Kısım Bölümü -->
    <div class="row mt-4 mb-5">
        <!-- Orta Kısım Bölümü Sol-->
        <div class="col-md-8">
            <div class="row">
                <!-- Bloglar Kartı -->
                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 1">
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
                <!-- Bloglar Kartı -->
                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 1">
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
                <!-- Bloglar Kartı -->
                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 1">
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
                <!-- Bloglar Kartı -->
                <div class="col mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 1">
                        <div class="card-body">
                            <h5 class="card-title">Card title 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Orta Kısım Bölümü Sağ-->
        <div class="col-md-4">
            <!-- Arama Yap Bölümü -->
            <div class="row">
                <!-- Arama Yap Kartı -->
                <div class="col mt-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">İçerik Arama Bölümü</h5>
                            <form action="">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Arama Bölümü">
                                </div>
                                <button type="submit" class="w-100 btn btn-primary">Ara</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popüler Blogların Bölümü -->
            <div class="row">
                <div class="col mt-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Popüler Bloglar</h5>
                            <ul class="list-group">
                                <!-- Popüler Blog 1 Kartı -->
                                <li class="list-group-item">
                                    <h5 class="cart-title">Popüler Blog 1</h5>
                                    <p class="card-text">
                                        Popüper Blog Açıklama Bölümü 1 & Popüper Blog Açıklama Bölümü 1
                                    </p>
                                </li>
                                <!-- Popüler Blog 2 Kartı -->
                                <li class="list-group-item">
                                    <h5 class="cart-title">Popüler Blog 2</h5>
                                    <p class="card-text">
                                        Popüper Blog Açıklama Bölümü 2 & Popüper Blog Açıklama Bölümü 2
                                    </p>
                                </li>
                                <!-- Popüler Blog 3 Kartı -->
                                <li class="list-group-item">
                                    <h5 class="cart-title">Popüler Blog 3</h5>
                                    <p class="card-text">
                                        Popüper Blog Açıklama Bölümü 3 & Popüper Blog Açıklama Bölümü 3
                                    </p>
                                </li>
                                <!-- Popüler Blog 4 Kartı -->
                                <li class="list-group-item">
                                    <h5 class="cart-title">Popüler Blog 4</h5>
                                    <p class="card-text">
                                        Popüper Blog Açıklama Bölümü 4 & Popüper Blog Açıklama Bölümü 4
                                    </p>
                                </li>
                                <!-- Popüler Blog 5 Kartı -->
                                <li class="list-group-item">
                                    <h5 class="cart-title">Popüler Blog 5</h5>
                                    <p class="card-text">
                                        Popüper Blog Açıklama Bölümü 5 & Popüper Blog Açıklama Bölümü 5
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kategori Bölümü -->
            <div class="row">
                <div class="col mt-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kategori Bölümü</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Kategori 1</li>
                                <li class="list-group-item">Kategori 2</li>
                                <li class="list-group-item">Kategori 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tags Bölümü -->
            <div class="row">
                <div class="col mt-3 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tag Bölümü</h5>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-warning my-2 me-1">Tag 1</button>
                                <button type="button" class="btn btn-warning my-2 me-1">Tag 2</button>
                                <button type="button" class="btn btn-warning my-2 me-1">Tag 3</button>
                                <button type="button" class="btn btn-warning my-2 me-1">Tag 4</button>
                                <button type="button" class="btn btn-warning my-2 me-1">Tag 5</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination Bölümü -->
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Geri</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">İleri</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}