{% extends "base.html" %}

{% block title %} Hakkımızda {% endblock %}
{% block page_description %} Bu sayfa hakkımızda sayfası {% endblock %}
{% block page_keywords %} hakkımızda, firma bilgileri, {% endblock %}


{% block content %}
    

<!-- Servisler -->
<div class="row mt-4 mb-5">
    <div class="row">
       <div class="col-md-12">
           <h2>Servisler</h2>
       </div>
    </div>
    <div class="row">
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 1</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 2</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 3</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 4</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 5</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 6</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 7</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>
       <!-- Servisler Kartı -->
       <div class="col-md-3 mt-3 mb-3">
           <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Başlık 8</h5>
                   <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   </p>
               </div>
           </div>
       </div>                   
    </div>
</div>

{% endblock content %}