{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block page_description%}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{%endblock %}">
    <title> {% block title %} Kurumsal Site Başlığı - V1 {% endblock title %} </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Benim Yazdığım -->
    <link rel="stylesheet" href="{% static 'css/site-style.css' %}">

    <!-- Benim Yazdığım - Özel sayfalar için harici css -->
    {% block extracss %} {% endblock %}
</head>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href=" {% url "index" %} ">Rıfat Rahvalı</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "index" %} ">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "abouts" %}  ">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "services" %}  ">Hizmetler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "blogs" %}  ">Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "contacts" %}  ">İletişim</a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dil
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">Türkçe</a></li>
                        <li><a class="dropdown-item" href="#">İngilizce</a></li>
                    </ul>
                </div>
                <form class="d-flex ms-3">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</nav>

<body>
    <!-- İçerik Bölümü -->
    <div class="container mt-5">
        {% block content %}

        {% endblock content %}
    </div>


    <!-- Footer Bölümü -->
    <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center border-top bg-dark">
        <div class="col-md-4 d-flex align-items-center ">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-light">© 2024, Rıfat Rahvalı </span>
        </div>
        <ul style="margin-right: 20px !important;" class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-twitter-x"></i></a></li>
            <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-github"></i></a></li>
        </ul>
    </footer>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Benim Yazdığım -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Benim Yazdığım - Özel sayfalar için harici js -->
    {% block js_files %}{% endblock js_files %}
</body>

</html>