{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block page_description %} Sayfa Açıklaması Gelecek {% endblock %} ">
    <meta name="keywords" content="{% block page_keywords %}{%endblock %}">
    <title>{% block title %} Title Etiketi {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extracss %} {% endblock %}
</head>
<body>
    <header>
        <h1>
            {% block header %} H1 Etiketi {% endblock header %}
        </h1>
        <nav>
            <ul>
                <li><a href=" {% url 'index' %} ">Anasayfa</a></li>
                <li><a href=" {% url 'abouts' %} ">Hakkımızda</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %} 
        
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2024 Rıfat Rahvalı Tüm Hakları Saklıdır.</p>
    </footer>

    <script src=" {% static 'js/script.js' %} "></script>
    {% block js_files %} {% endblock %}
</body>
</html>