<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>tcore uygulamasındaki viewspy içerisinde bulunan index fonksiyonunu sayesinde görüntüleniyor.</h1>
    <h1>Merhaba, Bu Basit Bir Template!</h1>
    <p>Bu template'in içeriği statik veya sabit olabilir.</p>

    <p>NOT : Bu urller Aynı uygulama içerisinde urlname özelliği kullanarak linklendirildi.</p>
    <p><a href="{% url 'index' %}">Anasayfa</a></p>
    <p><a href="{% url 'website_info' %}">CONTEXT DATA : WebSite Info</a></p>
    <p><a href="{% url 'welcome_user' %}">CONTEXT DATA : Hoşgeldin Sayın Kullanıcı</a></p>
    <p><a href="{% url 'goToGoogleUrlName' %}">URL NAME Özelliği : Go To Google</a></p>
    {% comment %} <p><a href="{% url 'category_detail_with_name' %}"> DINAMIK URL -STRING : http://127.0.0.1:8000/category/teknoloji/ </a></p> {% endcomment %}
    {% comment %} <p><a href="{% url 'category_detail_with_id' %}">DINAMIK URL - INT : http://127.0.0.1:8000/category/1/ </a></p> {% endcomment %}
</body>
</html>

